<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wwb.demo.mapper.AppMessageMapper" >

  <resultMap id="BaseResultMap" type="com.wwb.demo.entity.AppMessage" >
    <id column="id" property="id" />
    <result column="message" property="message" />
    <result column="sendtime" property="sendtime" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, message, sendtime
  </sql>
  
  
  <select id="selectAll" resultMap="BaseResultMap">
    select 
         id, message, sendtime
    from appuser_message
    order by id asc
  </select>
  
 
  
</mapper>