<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script th:src="@{/js/jquery-2.1.1.min.js}"></script>
</head>
<body>
<h4>这是springboot首页</h4>
	<p><a href="/view/temp">thymeleaf模板</a></p>
	<p><a href="/view/person">perrson控制器</a></p>
	<p><a href="/view/db">db控制器:数据操作</a></p>
	<p><a href="/view/appMessage">appMessage控制器:mybatis操作mysql数据库</a></p>
	<p><a href="/myerror">全局异常捕获:跳转方式（需打开@ControllerAdvice注解）</a></p>
	<p><a href="/person/err">全局异常捕获:json方式(需打开@RestControllerAdvice注解)</a> <input type="button" value="点我" onclick="sendAjax()" /></p>
	<p><a href="/view/redis">redis</p>
	
</body>

<script th:src="@{/js/ajax.js}"></script>
</html>