<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script th:src="@{/res/js/jquery-2.1.1.min.js}"></script>
<style type="text/css">

h4 font{font-size: 10px;margin-left: 2%;}
h4 a{font-size: 10px;margin-left: 6px;}
</style>
</head>
<body>
<h4>这是springboot首页,<font>欢迎你，<span th:text="${session_username}"></span></font><a href="/loginOut">退出</a></h4>
	<p><a href="/view/temp">thymeleaf模板，控制器向视图传值方式一： Map</a></p>
	<p><a href="/view/tempObject">thymeleaf模板，控制器向视图传值方式一： Model</a></p>
	<p><a href="/view/person">perrson控制器</a></p>
	<p><a href="/view/db">db控制器:数据操作</a></p>
	<p><a href="/view/appMessage">appMessage控制器:mybatis操作mysql数据库</a></p>
	<p><a href="/myerror">全局异常捕获:跳转方式（需打开@ControllerAdvice注解）</a></p>
	<p><a href="/person/err">全局异常捕获:json方式(需打开@RestControllerAdvice注解)</a> <input type="button" value="点我" onclick="sendAjax()" /></p>
	<p><a href="/view/redis">redis</p>
	<p><a href="/view/log">logback日志处理异常</p>
	<p><a href="/login">去登录,sesion存储在tomcat服务器，使用session对象存取session</p>
	<p><a href="/login2">去登录,sesion存储在redis中</p>
	<p><a href="/user/index">用户列表，分页</p>
	
</body>

<script th:src="@{/res/js/ajax.js}"></script>
</html>